.card-body-0 {
    > .ant-card-body { 
        padding: 0;
        .ant-tabs-nav {
            padding: 0 10px;
            margin-bottom: 0;
        }
        > .ant-collapse-header { padding-top: 8px}
        > .ant-collapse-content-box {padding: 0 !important;}
    }
}
.card-pt0 {
    > .ant-card-body { 
        padding-top: 0;
    }
}
.ant-dropdown {
    .ant-menu-item {
        margin: 0 !important;
        line-height: 36px !important;
        height: auto !important;
        > b { 
            float: right;
            font-weight: 600;
            padding-left: 10px;
            color: @primary;
        }
    }
}
.ant-drawer-content {
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
  }
.ant-drawer-header, .ant-drawer-body {padding: 10px;}
td .ant-badge {position: absolute; left: -3px;top: 20px;}
.withAction .ant-table.ant-table-small .ant-table-tbody > tr > td { padding: 4px 8px}
.withAction .ant-table.ant-table-small .ant-table-tbody .ant-table-wrapper:only-child .ant-table { margin-top: -4px; margin-bottom: -4px;}
.ant-card-head .inline-text-input { font-size: 16px; font-weight: 500;}
.ant-card-small > .ant-card-head .inline-text-input { font-size: 14px; font-weight: 500;}
.block {
    &.ant-switch { 
        background-color: @red;
    }
    .ant-switch {
        &:disabled{ 
            background-color: @red;
            opacity: 0.9;
        }
    } 
}
.unblock {
    &.ant-switch { 
        background-color: @green;
    }
    .ant-switch {
        &:disabled{ 
            background-color: @green;
            opacity: 0.9;
        }
    } 
}

.ant-btn {
    border-radius: 4px;
    &.ant-btn-circle { border-radius: 50%; }
    &.ant-btn-round { border-radius: 32px; }
}
.ant-tabs-tab { margin-right: 24px;}
.ant-table-tbody > tr.ant-table-row:hover > td { background: lighten(@primary, 43%);}
.ant-modal-content { 
    border-top: solid 4px @primary;
    // .ant-modal-header { border-bottom: 0 none }
    .ant-modal-footer { border-top: 0 none }
}
.ant-divider-horizontal { margin: 10px 0;}
.ant-card-head-title {
    h1,h2,h3,h4,h5,h6 { margin: 0;}
}
.ant-collapse{
    &.small{
        background-color: @white;
        .ant-collapse-header {
            padding-top: 8px;
            padding-bottom: 8px;
        }
        .ant-collapse-content-box {padding: 10px}
    }
}
.ant-form-item-label > label, 
.ant-collapse, 
.ant-card, 
.ant-table.ant-table-small,
.ant-timeline-item { 
    font-size: @font-size-base;
}
.ant-form-item { margin-bottom: 16px;}
.box-0 {
    &.ant-collapse.small{
        .ant-collapse-content-box { padding: 0;}
    }
}
.box-0 {
    &.ant-collapse-ghost {
        .ant-collapse-header{
            background-color: @border-light;
        }
    }
}
.btn-success { 
    background-color: @success; 
    border-color: @success;
    &:hover, &:focus {
        background-color: lighten(@success, 5%); 
        border-color: lighten(@success, 5%);
    }
}
.p0 {
    .ant-page-header-heading-left {
        margin: 0;
        .ant-page-header-heading-title { 
            line-height: normal; font-size: 14px;
        }
    }
}
.filter-drop-down { 
    padding: 0 10px 5px;
    .ant-checkbox-group-item, .ant-radio-wrapper {
        display: block;
        margin-right: 8px;
        padding: 7px 0px;
    }
}
.ant-upload-list-item-name { cursor: pointer;}
.no-header .ant-modal-close {
    right: -5px;
    top: -13px;
    width: 42px;
    height: 42px; 
    .ant-modal-close-x {
        width: 42px;
        height: 42px; 
    }
}
.form-sheet.ant-form .ant-form-item {
    margin-bottom: 0;
}
.form-sheet .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
}
.form-sheet.ant-form .ant-form-item.last .ant-form-item-label{
    padding-bottom: 0;
}
.form-sheet .ant-form-item-label label > span > span {
    font-size: 10px;
    display: block;
    color: #999;
    position: relative;
    top: -10px;
    font-weight: normal;
    b {
        color: @primary;
    }
}
.form-sheet.ant-form .ant-form-item.vertical .ant-form-item-label,
.form-sheet.ant-form .ant-form-item.vertical .ant-form-item-control  {
    flex: 0 0 100%;
    max-width: 100%;
}
.form-sheet.ant-form .ant-form-item.indent .ant-form-item-label {
    padding-left: 20%;
}
.form-sheet {
    .ant-divider-horizontal {
        margin: 0;
    }
    &.create-po{
        input.ant-input {
            max-width: 100%;
        }
    }
    .ant-form-item-control {
        text-align: right;
        .ant-select-selector {
            text-align: left;
        }
        input.ant-input {
            text-align: right;
            max-width: 120px;
            &[disabled]{
                background-color: transparent;
                border: 0 none;
                color: rgba(0,0,0,0.5);
            }
        }
    }
}
#trip_rate_type label:last-child {
    margin-right: 0;
}
.ant-space {
    flex-wrap: wrap;
}
@media (max-width: 575px) {
    .form-sheet.ant-form .ant-form-item .ant-form-item-label {
        flex: 0 0 70%
    }
    .form-sheet.ant-form .ant-form-item.reset-custome-grid .ant-form-item-label,
    .form-sheet.ant-form .ant-form-item.reset-custome-grid .ant-form-item-control {
        flex: auto;
    }
    .form-sheet.ant-form .ant-form-item .ant-form-item-control {
        flex: 0 0 30%
    }
    .form-sheet.ant-form .ant-form-item.mobile-100percent .ant-form-item-control {
        flex: 0 0 100%
    }
}