.ant-table.ant-table-small { font-size: 13px;}
.card-body-0 {
    .ant-card-body { 
        padding: 0;
        .ant-tabs-nav {
            padding: 0 10px;
            margin-bottom: 0;
        }
        .ant-collapse-header { padding-top: 8px}
        .ant-collapse-content-box {padding: 0 !important;}
    }
}
.ant-dropdown-menu-item {
    > span { 
        float: right;
        font-weight: 600;
        padding-left: 10px;
        color: @primary;
    }
}
.ant-drawer-header, .ant-drawer-body {padding: 10px;}