.ant-table.ant-table-small { font-size: 13px;}
.card-body-0 {
    .ant-card-body { 
        padding: 0;
        .ant-tabs-nav {
            padding: 0 10px;
            margin-bottom: 0;
        }
        .ant-collapse-header { padding-top: 8px}
        .ant-collapse-content-box {padding: 0 !important;}
    }
}
.ant-dropdown-menu-item {
    > b { 
        float: right;
        font-weight: 600;
        padding-left: 10px;
        color: @primary;
    }
}
.ant-drawer-header, .ant-drawer-body {padding: 10px;}
td .ant-badge {position: absolute; left: -3px;top: 20px;}
.withAction .ant-table.ant-table-small .ant-table-tbody > tr > td { padding: 4px 8px}
.withAction .ant-table.ant-table-small .ant-table-tbody .ant-table-wrapper:only-child .ant-table { margin-top: -4px; margin-bottom: -4px;}
.ant-card-head .inline-text-input { font-size: 16px; font-weight: 500;}
.ant-card-small > .ant-card-head .inline-text-input { font-size: 14px; font-weight: 500;}
.ant-switch.block { background-color: @red;}
.ant-switch.unblock { background-color: @green;}
.ant-card {font-size: @font-size-base;}
.ant-btn {
    border-radius: 4px;
    &.ant-btn-circle { border-radius: 50%; }
    &.ant-btn-round { border-radius: 32px; }
}
.ant-tabs-tab { margin-right: 24px;}
.ant-table-tbody > tr.ant-table-row:hover > td { background: lighten(@primary, 43%);}
.ant-modal-content { 
    border-top: solid 4px @primary;
    // .ant-modal-header { border-bottom: 0 none }
    .ant-modal-footer { border-top: 0 none }
}