@import './variables.less';
@import './utils.less';
@import './antdCustomise.less';

html, body {
  min-height: 100%;
  font-size: 13px;
}
a {
  color: @mid-blue;
  &:hover { color: @primary}
}
.brand {
  height: 64px;
  padding: 0 15px;
  text-align: center;
  line-height: 64px;
  font-weight: 600;
  font-size: 1.2rem;
  color: @white;
  > a {
    color: @white;
    span {
      color: @primary;
    }
  }
}
.pageCard {
  background-color: @white;
  height: 100%;
  padding: 10px;
  .pageBox {
    height: 100%;
    overflow-y: auto;
  }
}