// Margins
.m0 {margin: 0;}
.mb0 {margin-bottom: 0;}
.mb10 {margin-bottom: 10px;}
.mtb10 {margin-top: 10px; margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mt5 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.m5 {margin: 5px !important;}
.mb5 {margin-bottom: 5px !important;}
// Paddings 
.p0 { padding: 0 !important;}
.p10 { padding: 10px;}
.p20 { padding: 20px;}
.pl10 { padding-left: 10px !important;}
.pl15 { padding-left: 15px !important;}
.pt0 { padding-top: 0 !important}
.pt10 { padding-top: 10px !important}
// Bold and Underline
.b { font-weight: bold;}
.u { text-decoration: underline;}
.bu { font-weight: bold; text-decoration: underline;}
.normal { font-weight: normal;}
// Borders
.border-top-blue { border-top: solid 2px lighten(@blue, 20%)}
.border-top-dark { border-top: solid 2px @dark-blue}
// Text color 
.text-primary { color: @primary }
.text-gray { color: lighten(@gray, 15%) }
// Text align
.text-right { text-align: right;}
.text-left { text-align: left;}
.text-center { text-align: center;}
// Floats 
.pull-right { float: right }
.pull-left { float: left }
// Scroll Box
.scroll-box {
    height: 300px;
    overflow-y: auto;
}
// Show Hide
.hideLabel {
    .ant-form-item-label { visibility: hidden }
}
// gradients
.purple {
    background-color: @purple;
    background-image: linear-gradient(315deg, lighten(@purple,20%) 0%, lighten(@purple,10%) 75%);
}
.blue {
    background-color: @primary;
    background-image: linear-gradient(315deg, lighten(@primary,5%) 0%, @primary 75%); 
}
.teal {
    background-color: @teal;
    background-image: linear-gradient(315deg, @teal 0%, darken(@teal,5%) 75%);
}
.pink {
    background-color: @pink;
    background-image: linear-gradient(315deg, lighten(@pink,5%) 0%, @pink 75%);
}
.orange {
    background: @orange; 
    background-image: linear-gradient(315deg, @orange 0%, darken(@orange, 10%) 75%);
}
.yellow {
    background-color: @golden;
    background-image: linear-gradient(315deg, lighten(@golden, 10%) 0%, @golden 75%);
}