// Margins
.m0 {margin: 0 !important;}
.mb10 {margin-bottom: 10px;}
// Paddings 
.p0 { padding: 0 !important;}
// Borders
.border-top-blue { border-top: solid 1px @blue}
.border-top-dark { border-top: solid 1px @dark-blue}